bin/
obj/
.idea/
*.zip
*.DotSettings.user
.DS_Store
cmake-build*
publish_test
Dependencies
SS14.Launcher/FodyWeavers.xsd

!PublishFiles/Space Station 14 Launcher.app/Contents/Resources/bin/
.vs/SS14.Launcher/FileContentIndex/eaa4924f-d809-461a-ba1f-a02b393ffd2a.vsidx
.vs/SS14.Launcher/FileContentIndex/read.lock
.vs/SS14.Launcher/v17/.suo
.vs/SS14.Launcher/DesignTimeBuild/.dtbcache.v2
